<h1>please login</h1>

<form {{on "submit" this.login}}>
  <lable for="name">Username</lable>
  <input type="text" name="username" value={{this.username}}  {{on "change" this.updateIdentification}}>
  <lable for="password">Password</lable>
  <input type="password" name="password" value={{this.password}}  {{on "change" this.updatePassword}}>
  <input type="submit" value="login">
</form>

{{#if @error}}
  <p>
    <strong>
    {{@error}}
    </strong>
  </p>
{{/if}}
{{outlet}}